.page-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee;
}

.my-input {
	padding: 2px 4px;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.my-input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

a.update_btn {
	border: 1px solid rgb(107, 9, 9);
	background-color: rgb(233, 67, 67);
	border-radius: 5px;
	color: white;
	font-size: 11pt;
	padding: 4px 8px;
	margin: 8px auto;
	text-decoration: none;
	display: block;
	text-align: center;
}

a.latest_btn {
	border: 1px solid rgb(152, 212, 137);
	background-color: rgb(238, 241, 236);
	border-radius: 5px;
	color: rgb(62, 112, 87);
	font-size: 11pt;
	padding: 4px 8px;
	margin: 8px auto;
	text-decoration: none;
	display: block;
	text-align: center;
}

a.install_btn {
	border: 1px solid rgb(36, 125, 207);
	background-color: rgb(36, 125, 207);
	border-radius: 5px;
	color: rgb(255, 255, 255);
	font-size: 11pt;
	padding: 4px 8px;
	margin: 8px auto;
	text-decoration: none;
	display: block;
	text-align: center;
}

.mod_head {
	text-align: left;
	font-size: 16pt;
	background: white;
	color: rgb(46, 72, 160);
	margin: 10px 0px 4px;
}