.c {
  text-align:center;
}

/************************** 連結按鈕樣式 **************************/

.link_button{
	border: 1px solid #C0C0C0;
	padding: 1px 2px;
	font-size: 11px;
	background-color: White;
	font-weight: normal;
	margin:1px;
	display:block;
	float:left;
	white-space:nowrap;
	text-decoration:none;
}

.link_button_c{
	border: 1px solid #C0C0C0;
	padding: 1px 2px;
	font-size: 11px;
	background-color: White;
	font-weight: normal;
	margin:1px;
	display:block;
	white-space:nowrap;
	text-decoration:none;
}
.link_button_r{
	border: 1px solid #C0C0C0;
	padding: 1px 2px;
	font-size: 11px;
	background-color: White;
	font-weight: normal;
	margin:1px;
	display:block;
	float:right;
	white-space:nowrap;
	text-decoration:none;
}

a.link_button:hover{
	background-color: rgb(255,255,204);
	text-decoration:none;
}


/************************** 表單表格樣式 **************************/

/* 有表單的表格樣式 */
table.form_tbl {
	width: auto;
	padding: 8px;
	border-collapse: collapse;
}
/* 有表單的儲存格樣式 */
table.form_tbl td {
	padding: 3px;
}
/* 有表單的「表單標題」儲存格樣式 */
table.form_tbl td.form {
	font-weight: bold;
	font-size: 110%;
	background-color: #efefef;
	color: rgb(127,0,0);
	text-align: center;
}
/* 有表單的「標題」儲存格樣式 */
table.form_tbl td.title {
	background-color: transparent;
	color: rgb(0,0,0);
	text-align: right;
	padding: 4px 4px 4px 20px;
	vertical-align: middle;
	border-bottom: 1px dotted rgb(150,150,150);
}
/* 有表單的「輸入欄位」儲存格樣式 */
table.form_tbl td.col {
	padding: 4px 6px 4px 6px;
	background-color: transparent;
	border-bottom: 1px dotted rgb(200,200,200);
}
/* 有表單的「工具列」儲存格樣式 */
table.form_tbl td.bar {
	text-align: center;
	color: rgb(0,0,153);
	background-color: rgb(176,176,176);
}


/************************** 一般表格樣式 **************************/

/* 表格樣式 */
table#tbl{
	width: auto;
	padding: 8px;
	border-collapse: collapse;
}

/* 標題儲存格樣式 */
table#tbl th {
	padding: 5px;
	border-bottom:1px solid rgb(192,192,192);
	background-color: rgb(64,64,64);
	text-align:center;
	vertical-align: middle;
	color:#ffffff;
}

/* 儲存格樣式 */
table#tbl td {
	padding: 5px;
	border-bottom:1px solid rgb(192,192,192);
	vertical-align: middle;
}

/* 儲存格分頁樣式 */
table#tbl td.bar {
	padding: 5px;
	background-color: rgb(243,243,243);
	text-align: center;
}



/************************** 3D圓角樣式 **************************/

/*  立體圓角框  */
.raised {
	background: transparent;
	width: auto;
	margin:0px;
}
.raised h1, .raised p {
	margin: 0 10px;
}
.raised h1 {
	color: rgb(51,102,255);
	margin-bottom: 5px;
	font-size:2em;
}

.raised p {
	padding-bottom: 0.5em;
}
.raised .b1, .raised .b2, .raised .b3, .raised .b4, .raised .b1b, .raised .b2b, .raised .b3b, .raised .b4b {
	display: block;
	overflow: hidden;
	font-size: 1px;
}
.raised .b1, .raised .b2, .raised .b3, .raised .b1b, .raised .b2b, .raised .b3b {
	height: 1px;
}
.raised .b2 {
	background: #ccc;
	border-left: 1px solid #fff;
	border-right: 1px solid #eee;
}
.raised .b3 {
	background: #ccc;
	border-left: 1px solid #fff;
	border-right: 1px solid #ddd;
}
.raised .b4 {
	background: #ccc;
	border-left: 1px solid #fff;
	border-right: 1px solid #aaa;
}
.raised .b4b {
	background: #fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #999;
}
.raised .b3b {
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #999;
}
.raised .b2b {
	background: #fff;
	border-left: 1px solid #aaa;
	border-right: 1px solid #999;
}
.raised .b1 {
	margin: 0 5px;
	background: #fff;
}
.raised .b2, .raised .b2b {
	margin: 0 3px;
	border-width: 0 2px;
}
.raised .b3, .raised .b3b {
	margin: 0 2px;
}
.raised .b4, .raised .b4b {
	height: 2px;
	margin: 0 1px;
}
.raised .b1b {
	margin: 0 5px;
	background: #999;
}
.raised .boxcontent {
	display: block;
	background: #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #999;
	background-image: url(images/panel.jpg);
	background-repeat: repeat-x;
	padding: 10px;
}


/*  內嵌圓角框  */
.inset {
	background: transparent;
	width: auto;
	margin:0px;
}
.inset h1, .inset p {
	margin: 0 10px;
}
.inset h1 {
	color: rgb(51,102,255);
	margin-bottom: 5px;
	font-size:2em;
}
.inset p {
	padding-bottom: 0.5em;
}
.inset .b1, .inset .b2, .inset .b3, .inset .b4, .inset .b1b, .inset .b2b, .inset .b3b, .inset .b4b {
	display: block;
	overflow: hidden;
	font-size: 1px;
}
.inset .b1, .inset .b2, .inset .b3, .inset .b1b, .inset .b2b, .inset .b3b {
	height: 1px;
}
.inset .b2 {
	background: #ccc;
	border-left: 1px solid #999;
	border-right: 1px solid #aaa;
}
.inset .b3 {
	background: #ccc;
	border-left: 1px solid #999;
	border-right: 1px solid #ddd;
}
.inset .b4 {
	background: #ccc;
	border-left: 1px solid #999;
	border-right: 1px solid #eee;
}
.inset .b4b {
	background: #fff;
	border-left: 1px solid #aaa;
	border-right: 1px solid #fff;
}
.inset .b3b {
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #fff;
}
.inset .b2b {
	background: #fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #fff;
}
.inset .b1 {
	margin: 0 5px;
	background: #999;
}
.inset .b2, .inset .b2b {
	margin: 0 3px;
	border-width: 0 2px;
}
.inset .b3, .inset .b3b {
	margin: 0 2px;
}
.inset .b4, .inset .b4b {
	height: 2px;
	margin: 0 1px;
}
.inset .b1b {
	margin: 0 5px;
	background: #fff;
}
.inset .boxcontent {
	display: block;
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #fff;
	background-image: url(images/panel.jpg);
	background-repeat: repeat-x;
	padding: 10px;
}

/*  白底灰圓角框  */

.corners {
	background: transparent;
	width: auto;
	margin:0px;
}
.corners h1, .inset p {
	margin: 0 10px;
}
.corners h1 {
	color: rgb(51,102,255);
	margin-bottom: 5px;
	font-size:2em;
}
.corners p {
	padding-bottom: 0.5em;
}

.corners .b1, .corners .b2, .corners .b3, .corners .b4, .corners .b1b, .corners .b2b, .corners .b3b, .corners .b4b {
	display: block;
	overflow: hidden;
	font-size: 1px;
}
.corners .b1, .corners .b2, .corners .b3, .corners .b1b, .corners .b2b, .corners .b3b {
	height: 1px;
}
.corners .b2 {
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.corners .b3 {
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.corners .b4 {
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.corners .b4b {
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.corners .b3b {
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.corners .b2b {
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.corners .b1 {
	margin: 0 5px;
	background: #999;
}
.corners .b2, .corners .b2b {
	margin: 0 3px;
	border-width: 0 2px;
}
.corners .b3, .corners .b3b {
	margin: 0 2px;
}
.corners .b4, .corners .b4b {
	height: 2px;
	margin: 0 1px;
}
.corners .b1b {
	margin: 0 5px;
	background: #999;
}
.corners .boxcontent {
	display: block;
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	background-repeat: repeat-x;
	padding: 5px 10px 5px 10px;
}

